/* 
---------------------------------------------
Carregador de la nostra pagina
--------------------------------------------- 
*/

.js-preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EF4444;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.js-preloader.loaded {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@-webkit-keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@keyframes dot {
    50% {
        -webkit-transform: translateX(96px);
        transform: translateX(96px);
    }
}

@-webkit-keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

@keyframes dots {
    50% {
        -webkit-transform: translateX(-31px);
        transform: translateX(-31px);
    }
}

.preloader-inner {
    position: relative;
    width: 142px;
    height: 40px;
    background: #EF4444;
}

.preloader-inner .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    background: rgba(245, 228, 228, 0.747);
    border-radius: 50%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: dot 2.8s infinite;
    animation: dot 2.8s infinite;
}

.preloader-inner .dots {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    -webkit-animation: dots 2.8s infinite;
    animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    background: #fff;
    border-radius: 50%;
}
/* 
---------------------------------------------
Modal Jquery de la nostra pagina
--------------------------------------------- 
*/

  .toggle-checkbox:checked {
    /* @apply: right-0 border-green-400; */
    right: 0;
    border-color: #1ee703;
  }
  .toggle-checkbox:checked + .toggle-label {
    /* @apply: bg-green-400; */
    background-color: #1ee703;
  }

.socialNetwork {
    margin-right: 10px !important;
    padding-top: 25% !important;
    transition: box-shadow 1s, transform 1s !important;
}
.socialNetwork:hover {
    transform: rotate(360deg) scale(1.3) !important;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5) !important;
    transition: box-shadow 1s, transform 1s !important;
}
.logofooter, .logonavbar {
    transition: transform 1s !important;
}
.logofooter:hover, .logonavbar:hover {
    transform: scale(1.3) !important;
    transition: transform 1s !important;
}
div.itemsAdmin {
    box-shadow: 0 0 10px 10px rgba(17, 24, 39, 0.7) !important;
    transition: background-color 1s, box-shadow 1s;
}
div.itemsAdmin:hover {
    box-shadow: 0 0 15px 10px rgba(17, 24, 39, 0.7) !important;
    background-color: rgba(31, 41, 55, 1) !important;
    transition: background-color 1s, box-shadow 1s;
}
input#tempsRefresc {
    box-shadow: 0 0 5px 5px rgba(17, 24, 39, 0.7) !important;
    transition: background-color 1s, box-shadow 1s;
}
input#tempsRefresc:hover {
    box-shadow: 0 0 10px 5px rgba(17, 24, 39, 0.7) !important;
    background-color: rgba(31, 41, 55, 1) !important;
    transition: background-color 1s, box-shadow 1s;
}
div.articlesPortada {
    border-radius: 5px !important;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3) !important;
    transition: box-shadow 1s, border-radius 1s;
}
div.articlesPortada:hover {
    border-radius: 25px !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3) !important;
    transition: box-shadow 1s, border-radius 1s;
}
footer {
    margin-top: 100px !important;
}
.dadesContacte {
    margin-bottom: 20px;
    border-radius: 5px !important;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3) !important;
}
.dadesContacte span.negreta {
    font-weight: bold !important;
}
div#dropzone {
    width:  100%;
    height: auto;
}